:root {
    --time: #323238;
    --selected: #02799D;
    --selectedText: white;
    --normalColor: black;
    --bgColor: black;
    --cardColor: white;
    --borderColor: rgba(0, 0, 0, 0.80);
    --Platform-Aliases-Texto-base: #C4C4CC;
    --Neutral-Colors-White: #FFFFFF;
    --Platform-Aliases-Ttulos: #E1E1E6;
}

.dark {
    --time: #bfbfdd;
    --selected: #787979;
    --selectedText: rgb(0, 0, 0);
    --normalColor: rgb(255, 255, 255);
    --borderColor: rgba(255, 255, 255, 0.80);
    --bgColor: black;
    --cardColor: black;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    font-size: 100%;
    color: var(--normalColor);
    background-color: var(--bgColor);
}

.menu {
    position: fixed;
    background-color: #02799d00;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 72px;
    width: 100%;
    gap: 60px;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

.menu li {
    color: var(--Platform-Aliases-Texto-base, #C4C4CC);
    font-family: Roboto;
    font-size: 21.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.667px;
    /* 100% */
}

.menu .logo {
    width: 49.729px;
    height: 42px;
}

main {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 100dvw;
    height: 100dvh;
}

h1 {
    color: var(--Platform-Aliases-Ttulos, #E1E1E6);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 60px */
}

button {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #ffffff00;
    color: white;
}

button:hover {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #FFF;
    cursor: pointer;
    color: black;
}

a {
    color: var(--Platform-Aliases-Texto-base, #C4C4CC);
    font-family: Roboto;
    font-size: 21.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.667px;
    /* 100% */
}

a.ativado {
    color: var(--Neutral-Colors-White, #FFF);
    font-family: Roboto;
    font-size: 21.667px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.667px;
    /* 100% */
}

p {
    color: var(--Platform-Aliases-Ttulos, #E1E1E6);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
    width: 648px;
}

.container {
    background-repeat: no-repeat;
    background-size: cover;
}